@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.dashed-border-l-white {
  outline-offset: -12px;
  outline: 1px dashed rgb(255, 255, 255, 0.5);
}

.dashed-border-m-white {
  outline-offset: -8px;
  outline: 1px dashed rgb(255, 255, 255, 0.75);
}

.dashed-border-s-white {
  outline-offset: -4px;
  outline: 1px dashed rgb(255, 255, 255, 0.75);
}

.dashed-border-m {
  outline-offset: -8px;
  outline: 1px dashed rgba(0, 0, 0, 0.25);
}

.dashed-border-l {
  outline-offset: -12px;
  outline: 1px dashed rgba(0, 0, 0, 0.25);
}


body {
  overflow-x: hidden;
  z-index: 20;
}

body, html, * {
  cursor: url('https://pinklaura.github.io/my-portfolio/img/cursor-default-x1.svg'), auto !important;
  scroll-behavior: smooth;
} 

a *,
button *,
label * {
  cursor: url('https://pinklaura.github.io/my-portfolio/img/cursor-pointer-x1.svg'), auto !important;
}

a:hover{
  cursor: url('https://pinklaura.github.io/my-portfolio/img/cursor-pointer-x1.svg'), auto !important;
}
